.login-bg {
    &.forgot-password-bg {
        .mat-card.login-form {
            .mat-card-header-text {
                margin: 32px auto;
            }

            .mat-card-content {
                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                .remember-forgot-password {
                    margin: 32px auto 24px auto;
                }
            }
        }
    }
}