<div id="forgot-password" class="login-bg forgot-password-bg" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
    <mat-card class="login-form" id-="forgot-password-form-wrapper">
        <mat-card-header>
            <mat-card-title>
                <img style="width: 100%" src="assets/images/logos/conflow.svg">
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="title">{{ 'resetPassword.capital' | translate }}</div>
            <form (keyup.enter)="resetPassword()" name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'email' | translate }}</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text material-icons-outlined">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        {{ 'validation.isRequired' | translate:{"field": "Email"} }}
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        {{ 'enterEmail' | translate }}
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid" (click)="resetPassword()">
                    {{ 'resetLink.capital' | translate }}
                </button>
            </form>
            <div class="login remember-forgot-password" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" routerLink="/index">{{ 'backToLogin' | translate }}</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>
