

.reply-form {
  position: relative;
  width: 100%;

  form {

    .message-text {
      padding: 0;
      background: none !important;

      quill-editor {

        .ql-mention-list-container {
          width: 270px;
          border-radius: 4px;
          max-height: calc(100vh - 250px);
          overflow-y: auto;
          border: 1px solid #F0F0F0;
          background-color: #f5f5f5;
          box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
          z-index: 1;

          .ql-mention-list {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

            .ql-mention-list-item {
              cursor: pointer;
              height: 44px;
              line-height: 44px;
              font-size: 16px;
              padding: 0 20px;
              vertical-align: middle;

              &.selected {
                text-decoration: none;
                background-color: #039be5;
              }

              .ql-mention-list-item-inner {

                .ql-mention-list-item-inner-avatar {
                  position: relative;
                  width: 30px;
                  height: 30px;
                  top: 6px;
                  right: 10px;
                  margin: 0px;
                  border-radius: 50%;
                }
              }
            }
          }
        }

        .ql-editor {
          .mention {
            height: 24px;
            width: 65px;
            border-radius: 6px;
            padding: 3px 3px 3px 0px;
            background: rgba(3, 155, 229, 0.2);
          }

          .mention > span {
            margin: 0 0px 0px 3px;
          }
        }


        #textarea-emoji {
          // display: contents;
          //top: -265px !important;
          top: -150px !important;

          #tab-toolbar {
            // border: 1px solid;
          }

          #tab-panel {
            padding-top: 10px;
            max-height: 110px;
          }
        }
      }


      .mat-form-field-wrapper {
        padding: 0;

        .mat-form-field-flex {
          padding: 0;

          .mat-form-field-infix {
            padding: 0;
            border-top: none;
            margin-top: 30px;

            textarea {
              overflow: hidden;
              margin: 16px 48px 16px 16px;
              width: 100%;
              padding: 0;
              background-color: white;
            }
          }
        }

        .mat-form-field-underline {
          display: none !important;
        }
      }
    }
  }
}
.ps.mat-dialog-content {
  overflow: visible !important;
}
